body {
    font-family: sans-serif;
    background-color: #000;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.widget {
    display: flex;
    flex-direction: column;
    margin: 5% 0;
    border: solid white 3px;
    border-radius: 5px;
    width: 30%;
    align-items: stretch;
    justify-content: space-between;
    cursor: pointer;
}

.bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #000a;
    z-index: 1; 
    position: fixed;
    top: 0px;
    left: 0px;
}

.modalBox {
    width: 80%;
    background-color: #0008;
    border: solid white 3px;
    border-radius: 5px;
}

h3 {
    text-align: center;
    font-variant: small-caps;
}

span {
    display: block;
}

.buysellwrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-variant: small-caps;
}

.referencewrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-variant: small-caps;
}

.variation {
    display: flex;
    justify-content: center;
}

.date {
    font-size: 0.75em;
    text-align: center;
    color: #fffa;
    font-weight: 300;
}

p {
    padding: 1em;
}